:root{
    --primaryFontColor:#363958;
    --scondaryFontColor: #fff;
    --peragraphColor:#6C6C6C;
    /* ! font color */

    /*! Gradint credit  https://gradienta.io/*/

    --highlightColor:linear-gradient(40deg, #155263 9%, #155263 43%, #FF6F3C calc(43% + 1px), #FF6F3C 52%, #FF9A3C calc(52% + 1px), #FF9A3C 80%, #FFC93C calc(80% + 1px), #FFC93C 100%);

    --primaryBgColor: #fff;
    --scondaryBgColor: #F8F9FC;
}
/* !  Usees basic some variable for futute change but it will commented */
body{
    font-family: 'Roboto', sans-serif;
    color: #363958;
    margin: 0;
    padding: 0;
    /* color: var(--primaryFontColor); */
}

h1{
    font-size: 80px;
    font-weight: 600;
    text-transform: uppercase;
}
h2{
    font-size: 48px;
    text-transform: uppercase;
}
h3{
    font-size: 24px;
    text-transform: capitalize;
}
p{
    /* color: var(--peragraphColor); */
    color: #6C6C6C;
    margin: 50px 0;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
img{
    width: 100%;
    max-width: 600px;
}
.text-highlight{
    color: #78f14891;
}
.btn{
    font-size: 19px;
    padding: 20px 45px;
    color: var(--scondaryFontColor);
    font-weight: 600;
    background-image: var(--highlightColor);
    border-radius: 8px;
    margin: 25px 0px ;
    text-transform: capitalize;
    letter-spacing: 1.5px;
    border: none;
    cursor: pointer;
    transition: 3ms ease-out;
    }

.btn:hover {
    padding: 20px 50px;
    transition: 3ms ease-out;
}
/* ! layout */
.container{
    height: 600px;
    width: 80%;
    margin: auto;
}
.half-layout{
    width: 45%;
    margin-left: 3%;
    padding: 2%;
    float: left;
    display: block;
    margin: auto;
}
/*!i use some  utilities  for easily maintine my code*/

#navigation{
    height: 85px;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 999;
    background-color: #fff;
}
#navigation .container {
    height: 85px;
}
.nav-menu{
    float: right;
}
.nav-menu ul {
    margin-top: 30px;
}
.nav-menu ul li{ 
    display: inline;
}
.nav-menu ul li a{
    color: var(--primaryFontColor);
    font-weight: 600;
    margin: 15px 15px;
    text-align: right;
    letter-spacing: 2px;
}

/*! Nav end !*/

.hero-section .text-part span{
    display: block;
}
.hero-section .text-part p{
    text-transform: capitalize
}

/* font aswesome icon */
.about-text svg{
    margin-right: 10px;
}
/*!  Hero section and about end ! */

#recent-work{
    /* background-color: var(--scondaryBgColor); */
    background-color: #F8F9FC;
    padding: 100px 0;
    margin-top: 90px;
    /* height: auto; */
    height: 800px;
}

#recent-work h2{
    text-align: center;
    padding-bottom: 50px;
    
}

.single-work{
    width: 25%;
    float: left;
    min-height: 400px;
    /* background: var(--primaryBgColor); */
    background-color: #fff;
    margin:30px 30px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 19px 0px rgba(0,0,0,0.75);
}

/* ! end all work */

.chat{
    background-image: url("images/Group_33094_1.png");
    background-repeat: no-repeat;
    width: 70%;
    height: 400px;
    display: block;
    margin: 150px auto;
    padding: 50px;
    background-size: contain;

}

.chat .content{
    margin-top: 70px;
}
.chat h1{
    display: inline;
    color: #fff;
}
.chat .chat-btn{
    float: right;
}
/* ! chat section end */

footer{
    text-align: center;
    /* width: 150px;
    height: 150px; */
    display: block;
    margin: auto;
    margin-bottom: 70px;
}

footer h2{
    font-size: 36px;
}
footer h3{
    color: var(--peragraphColor);
}
footer .social{
    display: block;
    margin: auto;
}
footer .social a img{
    /* float: right; */
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin: 0px 15px;
}
/* !  footer end */
/* ! Extra */

.skill {
    display: block;
    margin: auto;
    text-align: center;
}

.skill h2 {
    text-decoration: underline;
}

.skill .skill-list {
    margin-top: 50px;
}

.skill .skill-list ul {
    display: inline;
    /* height: 70px; */
    min-height: 150px;
    padding: 25px 50px;
    float: left;
    margin: 25px;
    background-color: wheat;
}

.skill .skill-list ul li {
    font-size: 21px;
    margin: 10px 0;
    text-align: start;
}